version: '3.8'

services:
  # --- UPDATE THIS SECTION ---
  php:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_service
    working_dir: /var/www/html
    volumes:
      - ./src:/var/www/html
    networks:
      - app-network
  # ---------------------------

  nginx:
    image: nginx:alpine
    container_name: nginx_service
    ports:
      - "80:80"
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    container_name: mysql_service
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: registration_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql-data:
    driver: local